<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koylubaevnt.praytimes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.koylubaevnt.praytimes.StartScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koylubaevnt.praytimes.preferences.PreferencesCalculationScreen"
            android:label="@string/preferencesCalculation" >
        </activity>
        
        <activity
            android:name="com.koylubaevnt.praytimes.preferences.PreferencesAlarmScreen"
            android:label="@string/preferencesAlarm" >
        </activity>
        
        <activity
            android:name="com.koylubaevnt.praytimes.compas.QiblaLocator"
            android:label="@string/qiblaLocator" >
        </activity>
        
        <activity
            android:name="com.koylubaevnt.praytimes.TableCalculationScreen"
            android:label="@string/tableCalculation" >
        </activity>
        
        <activity
            android:name="com.koylubaevnt.praytimes.alarm.AlarmManagerScreen"
            android:label="@string/alarmManager" >
        </activity>
        <activity
            android:name="com.koylubaevnt.praytimes.gps.GPSScreen"
            android:label="@string/provider_gps" >
        </activity>
        <activity
            android:name="com.koylubaevnt.praytimes.gps.AndroidGPSTrackingActivity"
            android:label="@string/activity_gps" >
        </activity>
        <receiver 
            android:name="com.koylubaevnt.praytimes.alarm.AlarmManagerBroadcastReceiver">
        </receiver>
    </application>

</manifest>
